:root {
  --primary: #742f05;
  --bg: #a14926;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: var(--primary);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: #ca4c11;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.4rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
  background-color: #fff;
}

.navbar .navbar-ekstra a {
  color: #010101;
  margin: 0 0.5rem;
}

.navbar .navbar-ekstra a:hover {
  color: #fff;
}

#hamburger-menu {
  display: none;
}

/* Shopping-cart */

#shopping-cart-button {
  position: relative;
}

#shopping-cart-button .quantity-badge {
  display: inline-block;
  padding: 1px 5px;
  background-color: #fff;
  border-radius: 6px;
  font-size: 0.8rem;
  position: absolute;
  top: 0;
  right: -10px;
}

.shopping-cart {
  position: absolute;
  top: 100%;
  right: -100%;
  height: 100vh;
  width: 35rem;
  padding: 0 1.5rem;
  background-color: #fff;
  color: var(--primary);
  transition: 0.3s;
}

.shopping-cart.active {
  right: 0;
}

.shopping-cart .cart-item {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #333;
  position: relative;
}

.shopping-cart img {
  height: 4rem;
}

.shopping-cart h3 {
  font-size: 1.4rem;
}

.shopping-cart .item-price {
  font-size: 1.2rem;
}

.shopping-cart .cart-item #add,
.shopping-cart .cart-item #remove {
  display: inline-block;
  padding: 2px 5px;
  cursor: pointer;
  margin: 0 8px;
  background-color: #010101;
  color: #fff;
  font-weight: bold;
  font-size: 1.1rem;
}

.shopping-cart h4 {
  font-size: 1.6rem;
  margin-top: -1rem;
  text-align: center;
}

/* Chehckout form */

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px dashed black;
  margin-top: 1rem;
  padding: 1rem;
}

.form-container h5 {
  text-align: center;
  font-size: 1rem;
}

.form-container label {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}

.form-container span {
  text-align: right;
}

.form-container input {
  background-color: #ddd;
  padding: 5px;
  font-size: 1rem;
  width: 70%;
}

.form-container .checkout-button {
  padding: 6px 14px;
  background-color: var(--bg);
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 20px;
  margin: 1rem auto;
  cursor: pointer;
}

/* section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(image/image1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .content {
  padding: 1.4rem 3%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5em;
  color: #fff;
  text-shadow: 1px 1px 3px #010101;
  line-height: 1.2;
}

.hero .content h1 span {
  color: #ca4c11;
}

.hero .content p {
  font-size: 1.4rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px #010101;
  mix-blend-mode: difference;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--bg);
  border-radius: 0.5rem;
}

/* About */

.about,
.menu,
.contact,
.product {
  padding: 6rem 7% 1.4rem;
}

.about h2,
.menu h2,
.contact h2,
.product h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span,
.menu h2 span,
.contact h2 span,
.product h2 span {
  color: #ca4c11;
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.6;
}

/* Menu */

.menu h2,
.contact h2 {
  margin-bottom: 1rem;
}

.menu p,
.contact p,
.product p {
  text-align: center;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
  max-width: 30rem;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
  gap: 1rem; /* optional, to add space between items */
}

.menu .row .menu-card {
  text-align: center;
  flex: 1 1 200px; /* Adjust the size as needed */
  max-width: 200px; /* Adjust the size as needed */
  margin: 0.5rem; /* Adjust the margin as needed */
}

.menu .row .menu-card img {
  border-radius: 10%;
  width: 100%; /* Ensure the image fits within the card */
  height: auto; /* Maintain the aspect ratio of the image */
}

/* Product */

.product .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin-top: 4rem;
}

.product .product-card {
  text-align: center;
  border: 1px solid #faf7f7;
  padding: 2rem;
}

.product .product-icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.product .product-icons a {
  width: 4rem;
  height: 4rem;
  color: #fff;
  margin: 0.3rem;
  border: 1px solid #f6f1f1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product .product-icons a:hover {
  background-color: black;
  border: 1px solid var(--primary);
}

.product .product-image {
  padding: 1rem 0;
}

.product .product-image img {
  height: 25rem;
  width: 25rem;
}

.product .product-content h3 {
  font-size: 2rem;
}

.product .product-stars {
  font-size: 1.7rem;
  padding: 1rem;
  color: #fff;
}

.product .product-stars .star-full {
  fill: goldenrod;
}

.product .product-price {
  font-size: 1.3rem;
  font-weight: bold;
}

/* Contact */

.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: #010101;
  border: 1px solid #fff;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background-color: none;
  color: #010101;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--primary);
  cursor: pointer;
}

/* Footer */

footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover {
  color: #222;
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a:hover {
  color: var(--bg);
  background-color: #fff;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: #010101;
  font-weight: 700;
}

/* Modal Popup */

/* Item Detail */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  overflow: auto;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-container {
  position: relative;
  background-color: #fefefe;
  color: #222;
  margin: 15% auto;
  padding: 1rem;
  border: 1px solid #666;
  width: 90%;
  animation: animateModal 0.5s;
}

/* Modal Animation */
@keyframes animateModal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.modal-container .close-icon {
  position: absolute;
  right: 1rem;
}

.modal-content {
  display: flex;
  flex-wrap: nowrap;
}

.modal-content img {
  height: 18rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.modal-content p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 1.2rem;
}

.modal-content a {
  display: flex;
  gap: 1rem;
  width: 12rem;
  background-color: var(--bg);
  color: #fff;
  margin-top: 1rem;
  padding: 1rem 1.6rem;
}
@media only screen and (max-width: 1366px) {
  html {
    font-size: 75%;
  }

  /* .menu .row {
    display: flex;
    flex-wrap: wrap;
  } */
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 75%;
  }
  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: black;
    width: 30rem;
    height: 100vh;
    transition: right 0.3s ease;
  }

  .navbar .navbar-nav a {
    color: #fff;
    margin: 1rem;
    font-size: 1.4rem;
    display: block;
  }

  .navbar .navbar-nav a:hover {
    color: var(--primary);
    background-color: white;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }

  .modal-content {
    flex-wrap: wrap;
  }

  .modal-container {
    height: 95%;
  }
}

@media only screen and (max-width: 450px) {
  html {
    font-size: 75%;
  }
}
